<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="documentExtractService" type="X.DocumentExtractService.Configuration.DocumentExtractorSection,X.DocumentExtractService" />
  </configSections>
  <documentExtractService>
    <documentExtractors>
      <documentExtractor name="txt">
        <documentExtensions>
          <add value=".txt" />
        </documentExtensions>
        <extractors>
          <add value="TextExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="html">
        <documentExtensions>
          <add name="htm" value=".htm" />
          <add name="html" value=".html" />
        </documentExtensions>
        <extractors>
          <add value="HtmlExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="word">
        <documentExtensions>
          <add name="doc" value=".doc" />
          <add name="rtf" value=".rtf" />
          <add name="mht" value=".mht" />
        </documentExtensions>
        <extractors>
          <add name="AsposeWord" value="AsposeWordExtractor" />
          <add name="MultipartRelated" value="MultipartRelatedExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="docx">
        <documentExtensions>
          <add value=".docx" />
        </documentExtensions>
        <extractors>
          <add value="DocxExtractor" />
        </extractors>
      </documentExtractor>
      <documentExtractor name="pdf">
        <documentExtensions>
          <add value=".pdf" />
        </documentExtensions>
        <extractors>
          <add name="1" value="PdfExtractor" />
        </extractors>
      </documentExtractor>
    </documentExtractors>
    <compressors>
      <size name="small" width="50" height="50" type="Portrait" />
      <size name="middle" width="100" height="100" type="Portrait" />
    </compressors>
    <extractedFilters>
      <filter name="ReplaceSymbol" />
    </extractedFilters>
    <replacements>
      <replace origin="&amp;#07;" replace="" />
      <replace origin="example@exampleabc.com" replace=""/>
    </replacements>
  </documentExtractService>
  <appSettings>
    <add key="ScanInterval" value="30" />
    <add key="supportedImageType" value="jpeg,jpg,png" />
    <add key="Portrait:MinWidth" value="50" />
    <add key="Portrait:MinHeight" value="50" />
    <add key="Portrait:MinRateHeightDivideWidth" value="0.9" />
    <add key="Portrait:MaxRateHeightDivideWidth" value="1.7" />
  </appSettings>
  <startup>

    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.0" newVersion="1.0.105.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>